body{
    background-image:linear-gradient(to right,#bce4e4,#d0ece4);
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
th,td{
    border:3px solid black;
}
.link_unused{
    color:blue;
    text-decoration: underline;
}
.link_used{
    color:purple;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color:black;
}
hr{
    color:black;
    border-bottom: 2px solid black;
}